---
import {Content} from '../content/Index.md';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Computational Linguistics at Trier University</title>
	</head>
	<body>
		<main class="container mx-auto px-4 my-12">
			<article class="prose">
				<Content />
			</article>
		</main>
	</body>
</html>
